version: '3.8'
services:
  postgres:
    image: postgres:16-alpine
    container_name: health-partner-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: health_partner
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:alpine
    container_name: health-partner-redis
    ports:
      - "6379:6379"
    restart: always

volumes:
  postgres_data:
